{{> navbar }}
<div class="row">
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-10 offset-2">
                <h1 class="display-6">Ciao, Marco</h1>
                <p class="lead">Gestisci qui i tuoi libri</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-2">
                <form method="POST" action="/books">
                    {{> formBook }}                  
                    <div class="form-group row" style="padding-top: 5%">
                        <div class="col-3 offset-5">
                            <button name="submit" type="submit" class="btn btn-primary">Aggiungi libro</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>