<div class="row">
    <div class="col-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Settings</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-10 offset-2">
                <h1 class="display-6">Hi, Marco</h1>
                <p class="lead">
                    Add a new book here.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-2">
                <form method="POST" action="/books">
                    {{> formBook }}                  
                    <div class="form-group row" style="padding-top: 5%">
                        <div class="col-3 offset-5">
                            <button name="submit" type="submit" class="btn btn-primary">Add book</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>