<div class="row">
    <div class="col-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-10 offset-1">
                <h1>{{book.title}} ({{book.year}})</h1>
                <h2><i>{{book.author}}</i></h2>
                <h3>{{book.pages}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>
            </div>
            <div class="col-2 offset-1">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
        </div>
    </div>
</div>

{{> editModal }}
{{> deleteModal }}