{{> navbar }}
<div class="row">
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-10 offset-1">
                <h1 class="display-6">Hi, Marco</h1>
                <p class="lead">you have been reading for <span class="mybookshelf-bold">45</span> hours this <span class="mybookshelf-underlined">week</span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <hr class="mybookshelf-horizontal-separator" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-9" style="padding-top: 10px;">
                <a href="books/addBook"><button type="button" class="btn btn-block mybookshelf-login-button">Add book</button></a>
            </div>
        </div>

        <div class="row" style="padding-top: 5%">
            <div class="col offset-2">
                <h1 class="display-6">Now you are reading</h1>
                <div class="row">
                    <div class="col-2">
                        <br />
                        <img src="./images/percentage.png" class="img-thumbnail" alt="..." style="border: 0;">
                    </div>
                    <div class="col-10" style="padding-top: 3%">
                        <h1>High Fidelity</h1>
                        <h3>Nick Hornby</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 5%">
            <div class="col offset-2">
                <h1 class="display-6">Next book</h1>
                <div class="row">
                    <div class="col-10">
                        <br />
                        <h1>Pride and prejudice</h1>
                        <h3>Jane Austen</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
