<div class="row">
    <div class="col-1" style="padding-left:0px; padding-top: 10%">
        <div class="d-flex flex-column flex-shrink-0 mybookshelf-navbar" style="width: 8rem;">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="padding-top: 70px; padding-bottom: 70px">
                <li class="nav-item">
                    <a href="#" class="nav-link  py-3 " aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="bi bi-bookshelf"></i>
                    </a>
                </li>
                <li>  
                    <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <i class="bi bi-bar-chart-line-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <i class="bi bi-sliders"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-10 offset-1">
                <h1 class="display-6">Hi, Marco</h1>
                <p class="lead">
                    you have been reading for <span class="mybookshelf-bold">45</span> hours this <span class="mybookshelf-underlined">week</span>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="mybookshelf-horizontal-separator" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-2">
                <h1 class="display-6">Now you are reading</h1>
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81Grx7267uL.jpg" class="rounded mx-auto d-block img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <h1>High Fidelity</h1>
                        <h3>Nick Hornby</h3>
                    </div>
                </div>
            </div>
            <div class="col-4">
        </div>
    </div>
</div>
