* {
  font-family: 'Lato', sans-serif;
}
.mybookshelf-login-button {
  background-color: #FDA726;
  border-radius: 26.6667px;
  color: #091934;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width:100%;
}

.mybookshelf-button {
  background-color: #FDA726;
  color: #091934;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width:100%;
}
.mybookshelf-navbar {
  background: #0B1F41;
  font-family: 'Lato', sans-serif;
  color: #FDA726;
}

.mybookshelf-color {
  color: #FDA726;
}

.mybookshelf-underlined{
  text-decoration: underline;
  color: #FDA726;
}

.mybookshelf-bold{
  font-weight: bold;
  color: #FDA726;
}

.mybookshelf-horizontal-separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}
